{% extends "base.html" %}

{% block content %}
    <div class="large-8 large-centered columns">
        <form action="" method="post">{% csrf_token %}
            <p>Are you sure you want to delete "{{ object }}"?</p>
            <input type="submit" value="Confirm" class="button alert"/>
        </form>
    </div>
{% endblock %}
